:root {
  --logo-color: #2a3b20;
  --logo-hover-color: #445f34;
  --call-to-action-color: #78b156;
  --call-to-action-hover-color: #659449;
  --title-color: rgba(255, 255, 255, 25%);
  --content-color: rgba(0, 0, 0, 50%);
}

* {
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  background-size: cover;
  background-position: center top;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.navbar .navbar-brand {
  background-color: var(--logo-color);
  padding: 10px;
  border-radius: 7px;
  border: 0;
}

.navbar .navbar-brand:hover{

  background-color: var(--logo-hover-color);
}

.navbar .navbar-brand:active {

  background-color: var(--logo-color);
}

nav {
  background-color: black;
}

#topbar {
  background-color: rgba(0, 0, 0, 25%);
}

#topbar #iniciarSesion {

  background-color: var(--call-to-action-color);
  border: 0;
}

#topbar #iniciarSesion:hover {

  background-color: var(--call-to-action-hover-color);
}

#topbar #iniciarSesion:active {

  background-color: var(--call-to-action-color);
}
